<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="ch.amana.android.cputuner" android:versionName="0.7.0" android:versionCode="201011090">
	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:name=".application.CpuTunerApplication" android:backupAgent="ch.amana.android.cputuner.helper.BackupAgent"
		android:allowClearUserData="true" android:allowBackup="true">
		<meta-data android:name="com.google.android.backup.api_key"
			android:value="AEdPqrEAAAAINQCJA85hmMYm3sbqv9ypn7fLMp6KwDmc5_IO-A" />
		<activity android:label="@string/app_name" android:name=".view.activity.TuneCpu">
			
		</activity>

		<receiver android:name=".receiver.BootReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED"></action>
			</intent-filter>

		</receiver>
	<service android:name=".service.BatteryService"><intent-filter><action android:name="android.intent.action.ACTION_POWER_CONNECTED"></action>
</intent-filter><intent-filter><action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"></action>
</intent-filter><intent-filter><action android:name="android.intent.action.BATTERY_LOW"></action>
</intent-filter><intent-filter><action android:name="android.intent.action.BATTERY_OK"></action>
</intent-filter>
</service>
<activity android:name=".view.preference.CpuProfilePreferenceActivity"></activity>
<activity android:name=".view.activity.CpuEditor"></activity>
<activity android:name=".view.preference.CpuProfilePreferenceScreen"></activity>
<receiver android:name=".receiver.BatteryReceiver"><intent-filter><action android:name="android.intent.action.SCREEN_OFF"></action>
</intent-filter><intent-filter><action android:name="android.intent.action.ACTION_POWER_CONNECTED"></action>
</intent-filter><intent-filter><action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"></action>
</intent-filter><intent-filter><action android:name="android.intent.action.BATTERY_LOW"></action>
</intent-filter><intent-filter><action android:name="android.intent.action.BATTERY_OK"></action>
</intent-filter><intent-filter><action android:name="android.intent.action.SCREEN_ON"></action>
</intent-filter>
</receiver>
<activity android:name=".view.activity.CpuTunerTabActivity"><intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter></activity>
<activity android:name=".view.preference.SettingsPreferenceActivity"></activity>
<activity android:name=".view.activity.TriggerEditor"><intent-filter>
				<action android:name="android.intent.action.EDIT"></action>
				<data android:mimeType="vnd.android.cursor.item/ch.amana.android.cputuner.trigger"></data>
				<category android:name="android.intent.category.DEFAULT"></category>
			</intent-filter></activity>
<provider android:name=".provider.CpuTunerProvider" android:authorities="ch.amana.android.cputuner"></provider>
<activity android:name=".view.activity.TriggersListActivity"></activity>
</application>
	<uses-sdk android:minSdkVersion="5" />

	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>
	<uses-permission android:name="android.permission.BACKUP"></uses-permission>

</manifest> 