<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="ch.amana.android.cputuner" android:versionCode="201011020"
	android:versionName="0.4.2">
	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:name=".application.CpuTunerApplication" android:backupAgent="ch.amana.android.cputuner.helper.BackupAgent"
		android:allowClearUserData="true" android:allowBackup="true">
		<meta-data android:name="com.google.android.backup.api_key"
			android:value="AEdPqrEAAAAINQCJA85hmMYm3sbqv9ypn7fLMp6KwDmc5_IO-A" />
		<activity android:label="@string/app_name" android:name=".view.TuneCpu">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<receiver android:name=".receiver.BootReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED"></action>
			</intent-filter>

		</receiver>
	<service android:name=".service.BatteryService"></service>
</application>
	<uses-sdk android:minSdkVersion="5" />

	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>
	<uses-permission android:name="android.permission.BACKUP"></uses-permission>

</manifest> 